<aside class="aside-post">
    <div class="aside-content">
        <img src="/img/author-aside.jpg" alt="Autor(a) do artigo">
        <h2>Larissa Martinez</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn btn-primary">Ler mais posts deste autor</a>
    </div>
</aside>