<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta Tags -->
    <meta name="description" content="teste">
    <meta name="keywords" content="teste">
    <!-- Canonical -->
    <link rel="canonical" href="teste" />
    <!-- OpenGraph -->
    <meta property="og:region" content="Brasil">
    <meta property="og:title" content="<?=$title?>">
    <meta property="og:type" content="article">
    <meta property="og:description" content="teste">
    <meta property="og:site_name" content="teste">
    <meta property="og:keywords" content="teste">
    <meta property="og:canonical" content="teste">

    <meta name="author" content="Kennedy Allan">
    <meta name="city" content="São Paulo"/>

    <!-- Daqui para baixo é padrão, não mexer -->

    <meta name="robots" content="index,follow">
    <meta name="rating" content="General">
    <meta name="revisit-after" content="2 days">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    