<%- include('inc/head.ejs') %>
</head>
<body>
    <%- include('inc/menu.ejs') %>
    <%- include('inc/slider.ejs') %>
    <div class="container">
        <h1 class="text-center mb-4 mt-4">Página Inicial</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="img/card-img.jpg" class="img-full" alt="Imagem e capa">
                <div class="thumbnail-card">
                    <span class="category-diversos">Diversos</span>
                    <h2 class="title-post mt-3 mb-3">Lorem Ipsum</h2>
                    <div class="author">
                        <figure class="float-left mr-2">
                            <img src="img/people-example.jpg" class="figure-author" alt="Foto do autor">
                        </figure>
                        <span class="author">Por: <a href="#" title="Todos os posts desse autor">Larissa Martinez</a> - </span>
                        <span>03/05/2021</span>
                        <div class="clearfix"></div>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/diversos/post" title="Veja mais sobre esse assunto">Leia mais</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="img/card-img.jpg" class="img-full" alt="Imagem e capa">
                <div class="thumbnail-card">
                    <span class="category-diversos">Diversos</span>
                    <h2 class="title-post mt-3 mb-3">Lorem Ipsum</h2>
                    <div class="author">
                        <figure class="float-left mr-2">
                            <img src="img/people-example.jpg" class="figure-author" alt="Foto do autor">
                        </figure>
                        <span>Por: <a href="#" title="Todos os posts desse autor">Larissa Martinez</a> - </span>
                        <span>03/05/2021</span>
                        <div class="clearfix"></div>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" title="Veja mais sobre esse assunto">Leia mais</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="img/card-img.jpg" class="img-full" alt="Imagem e capa">
                <div class="thumbnail-card">
                    <span class="category-diversos">Diversos</span>
                    <h2 class="title-post mt-3 mb-3">Lorem Ipsum</h2>
                    <div class="author">
                        <figure class="float-left mr-2">
                            <img src="img/people-example.jpg" class="figure-author" alt="Foto do autor">
                        </figure>
                        <span>Por: <a href="#" title="Todos os posts desse autor">Larissa Martinez</a> - </span>
                        <span>03/05/2021</span>
                        <div class="clearfix"></div>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" title="Veja mais sobre esse assunto">Leia mais</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="img/card-img.jpg" class="img-full" alt="Imagem e capa">
                <div class="thumbnail-card">
                    <span class="category-diversos">Diversos</span>
                    <h2 class="title-post mt-3 mb-3">Lorem Ipsum</h2>
                    <div class="author">
                        <figure class="float-left mr-2">
                            <img src="img/people-example.jpg" class="figure-author" alt="Foto do autor">
                        </figure>
                        <span>Por: <a href="#" title="Todos os posts desse autor">Larissa Martinez</a> - </span>
                        <span>03/05/2021</span>
                        <div class="clearfix"></div>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" title="Veja mais sobre esse assunto">Leia mais</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="img/card-img.jpg" class="img-full" alt="Imagem e capa">
                <div class="thumbnail-card">
                    <span class="category-diversos">Diversos</span>
                    <h2 class="title-post mt-3 mb-3">Lorem Ipsum</h2>
                    <div class="author">
                        <figure class="float-left mr-2">
                            <img src="img/people-example.jpg" class="figure-author" alt="Foto do autor">
                        </figure>
                        <span>Por: <a href="#" title="Todos os posts desse autor">Larissa Martinez</a> - </span>
                        <span>03/05/2021</span>
                        <div class="clearfix"></div>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" title="Veja mais sobre esse assunto">Leia mais</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="img/card-img.jpg" class="img-full" alt="Imagem e capa">
                <div class="thumbnail-card">
                    <span class="category-diversos">Diversos</span>
                    <h2 class="title-post mt-3 mb-3">Lorem Ipsum</h2>
                    <div class="author">
                        <figure class="float-left mr-2">
                            <img src="img/people-example.jpg" class="figure-author" alt="Foto do autor">
                        </figure>
                        <span>Por: <a href="#" title="Todos os posts desse autor">Larissa Martinez</a> - </span>
                        <span>03/05/2021</span>
                        <div class="clearfix"></div>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" title="Veja mais sobre esse assunto">Leia mais</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('inc/footer.ejs') %>
</body>
</html>