<%- include('inc/head.ejs') %>
</head>
<body>
    <%- include('inc/menu.ejs') %>
    <div class="bg-category-diversos">
        <div class="darken">
            <span class="category-diversos">Diversos</span>
            <h1 class="mt-5 mb-5 title-post-page">Lorem Ipsum is simply dummy text</h1>
            <div class="author">
                <figure class="float-left mr-2">
                    <img src="/img/people-example.jpg" class="figure-author" alt="Foto do autor">
                </figure>
                <span class="author">Por: <a href="#" title="Todos os posts desse autor">Larissa Martinez</a> - </span>
                <span>03/05/2021</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <section>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fermentum ultrices molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean commodo egestas risus, id iaculis orci ullamcorper et. Etiam aliquam gravida nibh ac sodales. Donec tincidunt erat id imperdiet mollis. Mauris tempus tincidunt facilisis. Mauris faucibus dui a tellus bibendum, nec scelerisque lorem blandit. Curabitur venenatis efficitur elit, ultrices consequat velit lacinia a. Praesent libero massa, porttitor in malesuada non, volutpat facilisis magna. Maecenas blandit neque ac lorem rutrum iaculis. Quisque ut fringilla urna, sit amet ornare tortor. Etiam lobortis sapien at tortor efficitur cursus. Sed ac magna bibendum sapien consequat venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    
                <p>Integer pretium, nisi finibus volutpat tempor, neque quam fermentum lacus, eget aliquet dolor odio non purus. Sed eget ornare ante. Duis nec tellus tincidunt, vulputate augue non, sodales nunc. Mauris eget ante ut metus feugiat finibus eu ac augue. Nulla vehicula tortor sed magna dignissim commodo. Nulla ullamcorper purus eu felis porta placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam egestas velit nec vulputate viverra. Sed enim nulla, cursus id nulla quis, convallis aliquam ipsum. Suspendisse ullamcorper pretium dolor, a lobortis sapien condimentum mattis. Curabitur posuere purus nulla, eget porttitor mauris venenatis sit amet. Nullam accumsan nec velit sed dapibus.</p>
    
                <p>Pellentesque vitae lorem at libero dapibus vulputate. Sed vehicula nibh mauris, vel facilisis nisl congue at. Nulla iaculis scelerisque mattis. Donec dolor lacus, pretium et lectus non, lacinia eleifend tortor. Vivamus eget massa nunc. Nulla rhoncus vitae lorem nec pellentesque. Nulla porttitor ac tortor ac tristique.</p>
    
                <p>Donec nibh tellus, finibus vitae mi auctor, facilisis congue sapien. Nullam dapibus nulla eu lacus consectetur efficitur. Mauris vestibulum dapibus cursus. Suspendisse nec tempor nisl. Ut vitae nibh enim. Nulla ultrices tempus condimentum. Curabitur turpis massa, scelerisque in magna at, eleifend porttitor lectus. Morbi molestie mi a dictum commodo. Nam elementum hendrerit nunc, et egestas ante dignissim id. Curabitur fermentum convallis ipsum eu mattis. Nam sed sapien tincidunt, egestas urna eu, interdum purus. Morbi facilisis erat quis enim semper pretium commodo quis augue. Vivamus pellentesque est sapien, non commodo diam finibus vel. Nullam scelerisque suscipit eros, at fringilla tortor accumsan in. Phasellus maximus erat eget justo finibus sollicitudin.</p>
    
                <p>Morbi et varius ipsum. Praesent sollicitudin orci sem, a venenatis ante accumsan eu. Nullam sit amet risus justo. In tincidunt, felis non gravida egestas, velit lorem eleifend tortor, sit amet efficitur erat ante id dolor. Sed iaculis, dui sit amet facilisis scelerisque, elit enim rutrum metus, at condimentum sem augue in metus. Quisque massa ligula, pretium id nibh vitae, molestie eleifend justo. Vestibulum porta semper eros, at placerat tellus facilisis ut.</p>

                <img src="/img/image-post-example.jpg" class="full-width mb-4 mt-4" alt="Imagem ilustrando o artigo">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fermentum ultrices molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean commodo egestas risus, id iaculis orci ullamcorper et. Etiam aliquam gravida nibh ac sodales. Donec tincidunt erat id imperdiet mollis. Mauris tempus tincidunt facilisis. Mauris faucibus dui a tellus bibendum, nec scelerisque lorem blandit. Curabitur venenatis efficitur elit, ultrices consequat velit lacinia a. Praesent libero massa, porttitor in malesuada non, volutpat facilisis magna. Maecenas blandit neque ac lorem rutrum iaculis. Quisque ut fringilla urna, sit amet ornare tortor. Etiam lobortis sapien at tortor efficitur cursus. Sed ac magna bibendum sapien consequat venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    
                <p>Integer pretium, nisi finibus volutpat tempor, neque quam fermentum lacus, eget aliquet dolor odio non purus. Sed eget ornare ante. Duis nec tellus tincidunt, vulputate augue non, sodales nunc. Mauris eget ante ut metus feugiat finibus eu ac augue. Nulla vehicula tortor sed magna dignissim commodo. Nulla ullamcorper purus eu felis porta placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam egestas velit nec vulputate viverra. Sed enim nulla, cursus id nulla quis, convallis aliquam ipsum. Suspendisse ullamcorper pretium dolor, a lobortis sapien condimentum mattis. Curabitur posuere purus nulla, eget porttitor mauris venenatis sit amet. Nullam accumsan nec velit sed dapibus.</p>
    
                <p>Pellentesque vitae lorem at libero dapibus vulputate. Sed vehicula nibh mauris, vel facilisis nisl congue at. Nulla iaculis scelerisque mattis. Donec dolor lacus, pretium et lectus non, lacinia eleifend tortor. Vivamus eget massa nunc. Nulla rhoncus vitae lorem nec pellentesque. Nulla porttitor ac tortor ac tristique.</p>
            </article>
            <%- include('inc/aside-post.ejs') %>
            <div class="clearfix"></div>
        </section>
    </div>

    <%- include('inc/footer.ejs') %>
</body>
</html>